<body>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg px-4 py-2 bg-white shadow"><a *ngIf="isAuthenticated()" href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead"><i class="fas fa-align-left"></i></a><a href="index.html" class="navbar-brand font-weight-bold text-uppercase text-base">FILROUGE TRANSFERT-ARGENT</a>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
          <li class="nav-item">
            <form id="searchForm" class="ml-auto d-none d-lg-block">
              <div class="form-group position-relative mb-0">
                <button type="submit" style="top: -3px; left: 0;" class="position-absolute bg-white border-0 p-0"><i class="o-search-magnify-1 text-gray text-lg"></i></button>
                <input type="search" placeholder="Search ..." class="form-control form-control-sm border-0 no-shadow pl-4">
              </div>
            </form>
          </li>
          <li class="nav-item dropdown ml-auto" *ngIf="isAuthenticated()"><a id="userInfo" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><img src="avatar.png" alt="Moimeme" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow"></a>
            <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">Ababacar Sadikh GUEYE</strong><small>Developpeur Web</small></a>
              <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Paramètre</a><a href="#" class="dropdown-item">Autres Activité</a>
              <div class="dropdown-divider"></div><a (click)="logOut()" class="dropdown-item">Déconnexion</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <div id="sidebar" class="sidebar py-3" *ngIf="isAuthenticated()">
        <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MENU</div>
        <ul class="sidebar-menu list-unstyled">
          <li class="sidebar-list-item" *ngIf="isSuperAdmin() || isAdminWari() || isPartener() || isAdminPartener() "><a routerLink="ajouter/admin/partenaire" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages" class="sidebar-link text-muted"><i class="o-paperwork-1 mr-3 text-gray"></i><span>AJOUTER</span></a>
            <div id="pages" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li *ngIf="isSuperAdmin() || isAdminWari() " class="sidebar-list-item"><a routerLink="ajouter/admin/partenaire" class="sidebar-link text-muted pl-lg-5">Ajouter Un Partenaire</a></li>
                <li *ngIf="isPartener() || isAdminPartener() " class="sidebar-list-item"><a routerLink="ajouter/admin/partenaire" class="sidebar-link text-muted pl-lg-5">Ajouter Un Utilisateur</a></li>
                <li *ngIf="isSuperAdmin() || isAdminWari() " class="sidebar-list-item"><a routerLink="ajouter/compte" class="sidebar-link text-muted pl-lg-5">Ajouter Un Compte</a></li>
                <li *ngIf="isSuperAdmin() || isAdminWari() " class="sidebar-list-item"><a routerLink="ajouter/admin/partenaire" class="sidebar-link text-muted pl-lg-5">Ajouter Un Profil</a></li>
              </ul>
            </div>
          </li>
          <li class="sidebar-list-item"><a href="#" data-toggle="collapse" data-target="#pages1" aria-expanded="false" aria-controls="pages1" class="sidebar-link text-muted"><i class="o-wireframe-1 mr-3 text-gray"></i><span>LISTER</span></a>
            <div id="pages1" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item" *ngIf="isSuperAdmin() || isAdminWari()" ><a routerLink="lister/partenaire" class="sidebar-link text-muted pl-lg-5">Lister Partenaire</a></li>
                <li class="sidebar-list-item" *ngIf="isPartener() || isAdminPartener() "><a routerLink="lister/user" class="sidebar-link text-muted pl-lg-5">Lister Utilisateur</a></li>
                <li class="sidebar-list-item" *ngIf="isSuperAdmin() || isAdminWari() || isPartener() || isAdminPartener() "><a routerLink="lister/partenaire" class="sidebar-link text-muted pl-lg-5">Lister Compte</a></li>
                <li class="sidebar-list-item" *ngIf="isSuperAdmin() || isAdminWari()"><a routerLink="lister/partenaire" class="sidebar-link text-muted pl-lg-5">Lister Profil</a></li>
                <li class="sidebar-list-item" *ngIf="isPartener() || isAdminPartener() || isUser() "><a routerLink="lister/transaction" class="sidebar-link text-muted pl-lg-5">Lister Transaction</a></li>
                <li class="sidebar-list-item" *ngIf="isCaissier()" ><a routerLink="lister/depot" class="sidebar-link text-muted pl-lg-5">Lister Dépot-Compte</a></li>
              </ul>
            </div>
          </li>
          <li class="sidebar-list-item" *ngIf=" isUser() || isPartener() || isAdminPartener() " ><a href="#" data-toggle="collapse" data-target="#pages2" aria-expanded="false" aria-controls="pages2" class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span>TRANSACTION</span></a>
            <div id="pages2" class="collapse">
              <ul class="sidebar-menu list-unstyled border-left border-primary border-thick">
                <li class="sidebar-list-item"><a routerLink="ajouter/transaction" class="sidebar-link text-muted pl-lg-5">DEPOT</a></li>
                <li class="sidebar-list-item"><a routerLink="retirer/transaction" class="sidebar-link text-muted pl-lg-5">RETRAIT</a></li>
              </ul>
            </div>
          </li>
          <li class="sidebar-list-item" *ngIf=" isCaissier() " ><a routerLink="depot" class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>DÉPÔT</span></a></li>
        </ul>
      </div>
      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
              <router-outlet></router-outlet>
          </section>

        </div>
        <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 text-center text-md-left text-primary">
                <p class="mb-2 mb-md-0">Ababacar Sadikh GUEYE &copy; 2018-2019</p>
              </div>
              <div class="col-md-6 text-center text-md-right text-gray-400">
                <p class="mb-0">78 440 88 22 <a href="https://github.com/Sadikh-SA?tab=repositories" class="external text-gray-400">github</a></p>
                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="js/charts-home.js"></script>
    <script src="js/front.js"></script>
  </body>


