<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  <title>Document</title>
</head>
<body>


    <form #f ="ngForm">
        <label>NINÉA</label>
        <input type="number" name="ninea" [(ngModel)] = "part.ninea">
        <br>
        <label>LOCALISATION</label>
        <input type="text" name="localisation" [(ngModel)] = "part.localisation">
        <br>
        <label>Domaine D'activité</label>
        <input type="text" name="domaineActivite" [(ngModel)] = "part.domaineActivite">
        <br>
        <input type="button" (click)="ajouterParte(f)" value="Ajouter">
    </form>


    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>NINEA</th>
                <th>LOCALISATION</th>
                <th>DOMAINE D'ACTIVITÉ</th>
                <th>STATUS</th>
                <th>DATE DE CREATION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let partenaire of partenaire">
                <td>{{partenaire.ninea}}</td>
                <td>{{partenaire.localisation}}</td>
                <td>{{partenaire.domaineActivite}}</td>
                <td>{{partenaire.statut}}</td>
                <td>{{partenaire.dateCreation}}</td>
            </tr>
        </tbody>
      </table>  
</body>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
</html>